* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root{
    --black: #000000;
    --space: #333333;
    --shades: #8c8c8c;
    --graphite: #222222b3;
    --metro: #b36c4a;
    --vintage: #e6a484;
    --halloween: #edbca4;
    --white: #ffffff;
    --sky: #ffffffb0;
    --buff: #fafafa;
}

.mt-6{
    margin-top: 4.2rem;
}

.mt-7{
    margin-top: 7rem;
}

.mb-7{
    margin-bottom: 7rem;
}


/* Navbar */

#navigation{
    padding-top: 2rem;
}

#navigation .row{
    justify-content: center;
}

.social-links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-links:first-child{
    justify-content: start;
}

.social-links:last-child{
    justify-content: end;
}

.nav-social-media a{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--space);
    margin: 1rem .5rem;
    transition: .2s ease-in;
}

.nav-social-media a:hover{
    color: var(--vintage);
}

#navigation button{
    font-size: 3.5rem;
    border: none;
    color: var(--black);
    opacity: 1;
    transition: .3s ease-in-out;
    background-color: transparent;
}

#navigation button .bi-x{
    font-size: 5rem;
}

#navigation button:focus{
    box-shadow: none;
}

#navigation button:hover{
    opacity: 1;
    color: var(--vintage) !important;
}

.navbar-brand{
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: .15rem;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand img{
    width: 350px;
    height: auto;
}

a.navbar-brand{
    width: auto;
}

.navbar-expand-lg .offcanvas{
    border-top: 1px solid var(--vintage) !important;
    border-bottom: 1px solid var(--vintage) !important;
    transition: transform 0.5s ease-in-out;
}

.offcanvas{
    flex-wrap: wrap;
    align-content: center;
}

.offcanvas-header{
    padding: 1.5rem 2.7rem;
}

.offcanvas-title{
    font-size: 3rem;
}

.offcanvas-title:hover{
    cursor: pointer;
}

.offcanvas .navbar-nav .nav-item:hover a{
    color: var(--vintage);
    transition: .3s ease-in-out;
}

.offcanvas .navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: inline-block;
    animation: slideDown 0.4s ease-in-out;
}

.offcanvas .navbar-nav .nav-item.dropdown:hover .dropdown-menu a{
    color: var(--space);
}

.dropdown-menu{
    display: none;
    width: 160px;
    top: 63px;
    left: 0;
}

.nav-link:focus-visible {
    outline: transparent;
    box-shadow: none;
}

.offcanvas .navbar-nav .nav-item a{
    color: var(--black);
    padding: 2.2rem 2rem !important;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500 !important;
    letter-spacing: .1rem;
    font-family: 'Inter', sans-serif !important;
}

.offcanvas .navbar-nav .dropdown-menu a{
    padding: 2rem 1.8rem !important;
}

.offcanvas .navbar-nav .dropdown-menu a:hover{
    color: var(--vintage) !important;
}

.offcanvas .navbar-nav .nav-item.dropdown a::after{
    display: none;
}

.offcanvas .navbar-nav .dropdown-item:active {
    background-color: transparent;
}


@keyframes slideDown {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* Blog Carousel */

.news-img-box{
    margin-top: 2.5rem;
}

.news-img-box img{
    width: 100%;
    height: 600px;
}

.news-img-box .prev-button,
.news-img-box .next-button{
    position: absolute;
    top: 50%;
    transform: translateX(50%);
}

.news-img-box .next-button{
    right: 70px;
}

.news-img-box i{
    font-size: 3rem;
    padding: 2rem;
    opacity: .9;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.news-img-box i.bi-diamond{
    padding: 0;
}

.news-img-box .carousel-control-prev,
.news-img-box .carousel-control-next{
    position: static;
    width: 100%;
}

.news-img-box .carousel-control-prev:focus,
.news-img-box .carousel-control-next:focus{
    opacity: .9;
}

.news-img-box i:hover,
.news-img-box i:hover{
    background-color: var(--vintage);
}


.news-img-box i.bi-diamond:hover,
.news-img-box i.bi-diamond:hover{
    background-color: transparent;
}

.carousel-caption {
    bottom: auto; 
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 450px;
    padding: 3rem 3.2rem;
    background-color: var(--sky);
    border-radius: 20px;
}

.carousel-caption span{
    font-size: 2.5rem;
    font-family: 'Crimson Text', serif;
    color: var(--black);
    line-height: 3.5rem;
    font-weight: 600;
}

.carousel-caption p{
    font-size: 1.2rem;
    color: var(--shades);
    font-family: 'Nunito Sans', sans-serif;
}

.carousel-caption .bi-diamond{
    font-size: 1.3rem;
    display: block;
    position: relative;
    color: var(--space);
    top: -2px;
}

.carousel-caption i span::before, 
.carousel-caption i span::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--space);
    top: 20px;
}

.carousel-caption i span::before {
    left: 105px;
}

.carousel-caption i span::after {
    right: 107px;
}

.custom-btn{
    font-size: 1.5rem;
    background-color: var(--vintage);
    font-weight: 600;
    padding: 1.1rem 1.6rem;
    color: var(--white);
    margin-top: 5px;
    transition: all .3s ease-in-out;
}

.custom-btn:hover{
    color: var(--white);
    background-color: var(--halloween);
}


/* Blogs */

#blogs .blog-img img{
    width: 100%;
    height: 350px;
}

#blogs .blog-text{
    margin-left: 20px;
    height: 100%;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

#blogs .blog-title{
    font-family: 'Crimson Text', serif;
    font-size: 3.5rem;
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--vintage);
}

#blogs .blog-explanation{
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif !important;
    color: var(--space);
}

#blogs .blog-footer{
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

#blogs .date{
    font-size: 1.2rem;
    color: var(--shades);
}

#blogs button{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 500;
    border-bottom: 1px solid var(--space);
    border-radius: 0;
    padding: 0.5rem 0.3rem;
}

:not(.btn-check) + .btn:active {
    border-color: transparent;
}

#blogs button:hover{
    color: var(--vintage);
    border-bottom-color: var(--vintage);
}

.about{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
}

.about img, .about-box,
.about-text, 
.hobby, .gallery {
    width: 90%;
}

.about .about-box{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.2rem;
}

.about-text{
    background-color: var(--metro);
    padding: 1.7rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.about-text .about-title{
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'Nunito Sans';
}

.about-box .about-title span{
    display: block;
    letter-spacing: .1rem;
    text-transform: capitalize;
    font-size: 2.4rem;
    font-family: 'Crimson Text';
}

.about i{
    position: relative;
    width: 50%;
    display: inline-block;
    font-size: 1.2rem;
}

.about i::before{
    left: 57px;
    position: relative;
}

.about i span::before, 
.about i span::after {
    content: "";
    position: absolute;
    width: 51px;
    height: 1px;
    background-color: var(--white);
    top: 9px;
}

.about i span::before {
    left: 0px;
}

.about i span::after {
    right: 0px;
}

.about .about-skill{
    font-size: 1.5rem;
    margin-top: 0.3rem;
    color: var(--white);
    font-family: 'Nunito Sans';
}

.hobby, .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Crimson Text';
}

.blog i.bi-diamond{
    position: relative;
    width: 44.5%;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--vintage)
}

.blog i.bi-diamond::before{
    left: 59.5px;
    position: relative;
}

.blog i.bi-diamond span::before, 
.blog i.bi-diamond span::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background-color: var(--vintage);
    top: 9px;
}

.blog i.bi-diamond span::before {
    left: 0px;
}

.blog i.bi-diamond span::after {
    right: 0px;
}

.follow-social-media{
    display: flex;
    grid-gap: 10px;
}

.follow-social-media div{
    padding: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--vintage);
    transition: all .3s ease-in-out;
}

.follow-social-media div:nth-child(2){
    padding-left: 1.68rem;
    padding-right: 1.68rem;
}

.follow-social-media div:nth-child(3){
    padding-left: 1.42rem;
    padding-right: 1.42rem;
}

.follow-social-media div:hover{
    background-color: var(--vintage);
}

.follow-social-media div i{
    font-size: 2rem;
}

.hobby{
    border: 3px double var(--vintage);
}

.hobby.blog i.bi-diamond{
    width: 45%;
}

.hobby-title{
    margin-top: 1rem;
    padding: 0rem 1.4rem;
}

.hobby-title i{
    color: var(--vintage);
}

.hobby-title span{
    font-size: 1.5rem;
    margin-left: .5rem;
    font-family: 'Merriweather', sans-serif;
}

.hobby-title p{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-top: .5rem;
    font-weight: 500;
}

.gallery-box .nav-link {
    margin-top: 1.3rem;
    position: relative; 
}

.gallery-box img{
    width: 100%;
}

.gallery-box .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--halloween);
    opacity: 0;
    cursor: pointer;
    color: transparent;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.gallery-box .nav-link:hover .img-overlay {
    opacity: 0.5;
}


/* Contact */
#contact{
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.38);
}

#contact .container-lg,
#contact .row{
    height: 100%;
}

.form-box,
#contact form input,
#contact form textarea{
    background-color: var(--buff);
}

.contact-img{
    background-image: url("../../images/contact.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.contact-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.contact-img [class*="col-"]{
    margin-bottom: 3rem;
}

.contact-img i{
    margin-top: 1rem;
    font-size: 2.2rem;
}

.contact-img .contact-title{
    font-size: 2.7rem;
    font-family: 'Open Sans', sans-serif;
}

.contact-img .contact-text{
    font-size: 1.4rem;
    color: var(--shades);    
    margin-top: .6rem;
}

.contact-img .address,
.contact-img .phone,
.contact-img .email {
    position: relative;
    color: var(--white);
    width: 300px;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form{
    width: 90%;
}

#contact form .form-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

#contact form .form-elements{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center
}

#contact form input,
#contact form textarea{
    padding: .8rem 0rem;
    width: 400px;
    border: none;
    border-bottom: 1px solid var(--shades);
}

#contact form textarea:focus-visible,
#contact form input:focus-visible{
    outline:none;
}

#contact form input:focus,
#contact form textarea:focus{
    
    border-bottom: 1px solid var(--vintage);
}

#contact form input::placeholder,
#contact form input,
#contact form textarea,
#contact form textarea::placeholder{
    font-size: 1.7rem;
}

#contact form textarea{
    resize: none;
}

#contact form button{
    margin-top: 4.2rem;
}


/* Footer */
footer{
    background-color: var(--black);
    color: var(--white);
}

footer .container-lg{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright{
    font-size: 1.2rem;
    margin-bottom: 0px;
}



@media (max-width:1399.9px) {
    .about i {
        width: 57%;
    }

    .about i::before {
        left: 56px;
    }

    .about i span::before, 
    .about i span::after {
        width: 48px;
    }

    .blog i.bi-diamond{
        width: 50%;
    }

    .hobby.blog i.bi-diamond {
        width: 51%; 
    }

    .blog i.bi-diamond::before{
        left: 57px;
    }

    .blog i.bi-diamond span::before, 
    .blog i.bi-diamond span::after {
        width: 51px;
    }
}


@media (max-width:1199.9px) {
    .title {
        font-size: 3rem;
    }

    .hobby-title span {
        font-size: 1.4rem;
    }

    .hobby-title p {
        font-size: 1.2rem;
    }

    #blogs .blog-title{
        font-size: 3.1rem;
        padding-bottom: 22px;
    }

    #blogs .blog-explanation{
        margin-top: 22px;
        font-size: 1.3rem;
    }

    #blogs button{
        font-size: 1rem;
    }

    .about-text{
        padding: 1.4rem .5rem;
    }

    .about-text .about-title {
        font-size: 1rem;
    }

    .about-box .about-title span {
        font-size: 2.2rem;
    }

    .about i {
        width: 60%;
    }

    .about i::before {
        left: 48.5px;
    }

    .about i span::before, 
    .about i span::after {
        width: 41px;
    }

    .blog i.bi-diamond{
        width: 59.5%;
    }

    .hobby.blog i.bi-diamond {
        width: 61%; 
    }

    .follow-social-media div{
        padding: 1.2rem;
    }

    .follow-social-media div:nth-child(2){
        padding-left: 1.55rem;
        padding-right: 1.55rem;
    }
    
    .follow-social-media div:nth-child(3){
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .follow-social-media div i{
        font-size: 2rem;
    }

    .contact-img .address, 
    .contact-img .phone, 
    .contact-img .email {
        width: 320px;
    }

    .contact-img i {
        font-size: 2rem;
    }

    .contact-img .contact-title {
        font-size: 2.5rem;
    }

    .contact-img .contact-text {
        font-size: 1.3rem;
        margin-top: .5rem;
    }

    #contact form .form-title {
        font-size: 2.85rem;
        margin-bottom: 3.4rem;
    }

    #contact form input, 
    #contact form textarea {
        width: 350px;
    }
}


@media (max-width:991.9px) {
    .title {
        font-size: 3.5rem;
    }

    #navigation {
        padding-top: 1rem;
    }

    .social-links{
        display: none;
    }

    .navbar-brand img {
        width: 310px;
    }

    .offcanvas{
        flex-wrap: nowrap;
        align-content: stretch;
    }

    .offcanvas .navbar-nav .nav-item a{
        width: 100%;
        padding: 1.7rem 2rem !important;
    }

    .dropdown-menu{
        width: 100%;
    }

    .carousel-caption {
        width: 370px;
        padding: 2.5rem 2.7rem;
    }

    .carousel-caption span {
        font-size: 2.3rem;
        line-height: 3.1rem;
    }

    .carousel-caption i span::before, 
    .carousel-caption i span::after {
        width: 65px;
        top: 16px;
        height: .7px;
    }

    .carousel-caption i span::before {
        left: 77px;
    }

    .carousel-caption i span::after {
        right: 79px;
    }

    .custom-btn {
        font-size: 1.4rem;
        padding: 1rem 1.4rem;
    }

    .news-img-box i {
        font-size: 2.6rem;
        padding: 1.7rem;
    }

    .news-img-box .next-button {
        right: 50px;
    }

    .news-img-box .prev-button {
        left: -8px;
    }

    #blogs .blog-title {
        font-size: 2.9rem;
        padding-bottom: 20px;
    }

    #blogs .blog-explanation {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #blogs .date {
        font-size: 1.1rem;
    }

    .about img, .about-box, 
    .gallery{
        width: 100%;
    }

    .about {
        justify-content: start;
    }

    .about-text .about-title{
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }

    .about i{
        width: 50%;
    }
    
    .about i::before{
        left: 46%;
    }
    
    .about i span::before, 
    .about i span::after {
        width: 38%;
    }
    
    .about .about-skill{
        font-size: 1.5rem;
    }

    .blog i.bi-diamond{
        width: 14%;
    }

    .blog i.bi-diamond::before {
        left: 45.5%;
    }

    .blog i.bi-diamond span::before, 
    .blog i.bi-diamond span::after {
        width: 40%;
    }

    .hobby {
        width: 100%;
    }

    .hobby.blog i.bi-diamond {
        width: 41.5%;
    }

    .gallery-box{
        width: 77.5%;
        display: flex;
        justify-content: space-between;
    }

    .gallery-box img, 
    .gallery-box .img-overlay {
        width: 95%;
    }

    .gallery-box .nav-link:nth-child(2) .img-overlay{
        right: 0;
        left: auto;
    }
}


@media (max-width:909.9px){
    .blog i.bi-diamond::before {
        left: 45%;
    }

    .blog i.bi-diamond {
        width: 14.5%;
    }

    .hobby.blog i.bi-diamond {
        width: 43.5%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 44.5%;
    }

    .title {
        font-size: 3rem;
    }

    .follow-social-media div{
        padding: 1.1rem;
    }

    .follow-social-media div:nth-child(2){
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    
    .follow-social-media div:nth-child(3){
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .follow-social-media div i{
        font-size: 1.6rem;
    }

    .hobby-title span {
        font-size: 1.4rem;
    }

    .hobby-title p {
        font-size: 1.2rem;
    }

    .about img{
        width: 100%;
    }

    .about-box{
        width: 100%;
    }

    .blog i.bi-diamond span::before, 
    .blog i.bi-diamond span::after {
        width: 38%;
    }
}


@media (max-width: 850.9px){
    .about i::before{
        left: 45.5%;
    }

    .contact-img .address, 
    .contact-img .phone, 
    .contact-img .email {
        width: 335px;
    }

    .contact-img i {
        font-size: 1.8rem;
    }

    .contact-img .contact-title {
        font-size: 2.4rem;
    }

    .contact-img .contact-text {
        margin-top: .4rem;
    }

    #contact form .form-title {
        font-size: 2.75rem;
    }

    #contact form input, 
    #contact form textarea {
        width: 300px;
    }
}

@media (min-width: 768px){
    .mt-md-6{
        margin-top: 4.2rem !important;
    }

    #contact {
        height: 70rem;
    }
}

@media (max-width: 767.9px) {
    #navigation {
        padding-top: .8rem;
    }

    .navbar-brand img {
        width: 260px;
    }

    .news-img-box img {
        height: 550px;
    }

    .about i {
        font-size: 1.1rem;
        width: 33%;
    }

    .about i::before {
        left: 46%;
    }

    .about i span::before, 
    .about i span::after {
        width: 37%;
        top: 8.25px;
    }

    .blog i.bi-diamond{
        width: 15.5%;
    }

    .blog i.bi-diamond::before {
        left: 45.5%;
    }

    .follow-social-media div{
        padding: 1rem;
    }

    .follow-social-media div:nth-child(2){
        padding-left: 1.29rem;
        padding-right: 1.29rem;
    }
    
    .follow-social-media div:nth-child(3){
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

    .follow-social-media div i{
        font-size: 1.5rem;
    }

    .about img,
    .about-text,
    .about-box{
        width: 95%;
    }

    .about {
        justify-content: start;
    }

    .hobby {
        width: 95%;
    }

    .hobby.blog i.bi-diamond {
        width: 32.5%;
    }

    .blog i.bi-diamond span::before, 
    .blog i.bi-diamond span::after {
        width: 37%;
    }

    .gallery-box {
        width: 100%;
    }
    
    .contact-img {
        height: 43rem;
    }

    .form-box {
        height: 65rem;
    }
}


@media (max-width: 718.9px) {
    .about i::before {
        left: 45%;
    }

    .blog i.bi-diamond::before {
        left: 45%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 44%;
    }
    footer .container-lg {
        flex-direction: column;
        grid-gap: 2rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    footer .navbar-brand{
        margin-bottom: 1rem;
    }
}


@media (max-width: 652.9px) {
    .title {
        font-size: 3.7rem;
    }

    .carousel-caption {
        width: 325px;
        padding: 2.1rem 2.3rem;
    }

    .carousel-caption span {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .carousel-caption i span::before {
        left: 58px;
    }

    .carousel-caption i span::after {
        right: 60px;
    }

    .carousel-caption i span::before, 
    .carousel-caption i span::after {
        top: 14px;
    }

    .news-img-box img {
        height: 500px;
    }

    .news-img-box i {
        font-size: 2.3rem;
        padding: 1.3rem;
    }

    .news-img-box .next-button {
        right: 35px;
    }

    .about-text .about-title{
        font-size: 1rem;
        letter-spacing: .1rem;
    }

    .about-box .about-title span {
        font-size: 2rem;
    }

    .about i {
        font-size: 1rem;
        width: 34%;
    }

    .about i span::before, 
    .about i span::after {
        width: 37%;
        top: 7.5px;
    }

    .about .about-skill {
        font-size: 1.3rem;
    }

    .title {
        font-size: 2.7rem;
    }

    .blog i.bi-diamond {
        width: 17.5%;
    }

    .blog i.bi-diamond span::before, 
    .blog i.bi-diamond span::after {
        width: 38%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 43.5%;
    }
}


@media (max-width:575.9px) {
    .navbar-brand img {
        width: 210px;
    }

    .offcanvas{
        width: 375px !important;
    }
    
    .news-img-box .prev-button,
    .news-img-box .next-button{
        display: none;
    }

    .carousel-caption {
        width: 305px;
        padding: 1.8rem 2.1rem;
    }

    .carousel-caption i span::before, 
    .carousel-caption i span::after {
        width: 60px;
    }

    .carousel-caption i span::after {
        right: 57px;
    }

    .carousel-caption i span::before {
        left: 55px;
    }

    #blogs .blog-img{
        display: flex;
        justify-content: center;
    }

    #blogs .blog-img img{
        width: 80%;
    }

    #blogs .blog-title {
        font-size: 2.7rem;
        padding-bottom: 12px;
    }

    #blogs .col-sm-5{
        display: flex;
        justify-content: center;
    }

    #blogs .blog-text {
        margin-left: 0px;
        justify-content: center;
        margin-top: 10px;
        width: 95%;
        text-align: center;
    }

    #blogs .blog-explanation {
        margin-top: 12px;
    }

    #blogs .blog-footer {
        margin-top: 5px;
        text-align: center;
        width: 95%;
    }

    .about img, .about-box, 
    .about-text, .hobby,
    .gallery-box {
        width: 80%;
    }

    .about-text .about-title {
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }

    .about-box .about-title span {
        font-size: 2.4rem;
    }

    .about i {
        width: 37%;
        font-size: 1.2rem;
    }

    .about i::before {
        left: 45.5%;
    }

    .about i span::before, 
    .about i span::after {
        width: 40%;
        top: 9px;
    }

    .about .about-skill {
        font-size: 1.5rem;
    }

    .title {
        font-size: 3.2rem;
    }

    .blog i.bi-diamond {
        width: 22.5%;
    }

    .blog i.bi-diamond::before {
        left: 45.5%;
    }

    .about {
        justify-content: center;
    }

    .hobby.blog i.bi-diamond {
        width: 29.5%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 45.5%;
    }

    .gallery-box {
        flex-direction: column;
    }

    .gallery-box img {
        width: 100%;
    }

    .gallery-box .img-overlay {
        width: 100%;
    }

    .contact-img {
        height: 50rem;
    }

    .contact-img [class*="col-"] {
        margin-bottom: 0rem;
    }

    .contact-img .col-sm-2{
        margin-bottom: .4rem;
    }

    .contact-img .col-sm-10{
        margin-bottom: 3rem;
        text-align: center;
    }

    footer .container-lg {
        grid-gap: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    footer .navbar-brand{
        margin-bottom: 1.3rem;
    }

    footer .copyright {
        font-size: 1rem;
    }
}


@media (max-width:531.9px) {
    .about i::before {
        left: 45%;
    }

    .about i span::before, 
    .about i span::after {
        width: 38%;
    }

    .blog i.bi-diamond::before {
        left: 45%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 45%;
    }
}


@media (max-width:474.9px) {
    .about i::before {
        left: 44.7%;
        font-size: 1.1rem;
    }

    .blog i.bi-diamond {
        width: 25.5%;
    }

    .blog i.bi-diamond::before {
        left: 45%;
    }

    .hobby.blog i.bi-diamond {
        width: 32.5%;
    }
}


@media (max-width:437.9px) {
    .title {
        font-size: 3.5rem;
    }

    .offcanvas{
        width: 340px !important;
    }

    .navbar-brand img {
        width: 190px;
    }

    #navigation button {
        font-size: 3.3rem;
    }

    #blogs .blog-text {
        margin-top: 7px;
    }

    .about i::before {
        left: 44%;
        font-size: 1rem;
    }

    .blog i.bi-diamond {
        width: 29%;
    }

    .hobby.blog i.bi-diamond {
        width: 36%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 44.5%;
    }

    .contact-img .address, 
    .contact-img .phone, 
    .contact-img .email {
        width: 310px;
    }

    footer .copyright {
        font-size: .9rem;
    }
}


@media (max-width:400.9px) {
    .about i {
        width: 44%;
    }

    .about i::before {
        left: 45.5%;
    }
}


@media (max-width:378.9px) {
    .title {
        font-size: 3.3rem;
    }

    #navigation {
        padding-top: .5rem;
    }
    
    .navbar-brand {
        font-size: 3.5rem;
    }
    
    .navbar-brand img {
        width: 175px;
    }

    .offcanvas{
        width: 290px !important;
    }

    .offcanvas-title {
        font-size: 2.5rem;
    }

    #navigation button {
        font-size: 3.1rem;
    }

    #navigation button .bi-x {
        font-size: 4.4rem;
    }

    .news-img-box img {
        height: 450px;
    }

    .carousel-caption {
        width: 285px;
        padding: 1.6rem 1.8rem;
    }

    .carousel-caption span {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .carousel-caption .bi-diamond {
        font-size: 1.2rem;
    }

    .carousel-caption i span::before, 
    .carousel-caption i span::after {
        width: 55px;
    }

    .carousel-caption i span::after {
        right: 56px;
    }

    .custom-btn {
        font-size: 1.2rem;
        padding: .8rem 1.2rem;
    }

    #blogs .blog-img img, .about img, 
    .about-box, 
    .hobby, .gallery-box{
        width: 100%;
    }

    .about-text{
        width: 90%;
    }

    .about i {
        width: 39%;
    }

    .about i::before {
        left: 46%;
    }

    .blog i.bi-diamond {
        width: 35%;
    }

    .blog i.bi-diamond::before {
        left: 46%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 45.5%;
    }

    .form-box {
        height: 60rem;
    }

    .contact-img .col-sm-2{
        margin-bottom: .3rem;
    }

    .contact-img .col-sm-10{
        margin-bottom: 2.5rem;
    }
 
    .contact-img .address, 
    .contact-img .phone, 
    .contact-img .email {
        width: 290px;
    }

    .contact-img .contact-title {
        font-size: 2.25rem;
    }

    .contact-img .contact-text {
        font-size: 1.3rem;
        margin-top: .1rem;
    }

    #contact form .form-title {
        font-size: 2.55rem;
        margin-bottom: 2.4rem;
    }

    #contact form input, 
    #contact form textarea {
        width: 280px;
    }

    #contact form input::placeholder, 
    #contact form input, 
    #contact form textarea, 
    #contact form textarea::placeholder {
        font-size: 1.4rem;
    } 
}

@media (max-width:368.9px) {
    .hobby.blog i.bi-diamond::before {
        left: 45%;
    }
}

@media (max-width:322.9px) {
    .news-img-box img {
        height: 400px;
    }

    .carousel-caption {
        width: 250px;
        padding: 1.2rem 1.4rem;
    }

    .carousel-caption span {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .carousel-caption i span::before, 
    .carousel-caption i span::after {
        width: 48px;
        top: 11px;
    }

    .carousel-caption i span::before {
        left: 49px;
    }

    .carousel-caption i span::after {
        right: 49px;
    }

    .news-img-box i.bi-diamond {
        margin-top: .2rem;
    }

    .carousel-caption p {
        font-size: 1.1rem;
    }

    .custom-btn {
        font-size: 1.1rem;
        padding: 0.7rem 1.1rem;
    }

    .blog i.bi-diamond {
        width: 35%;
    }

    .blog i.bi-diamond::before {
        left: 44%;
    }

    .contact-img {
        height: 46rem;
    }

    .contact-img .address, 
    .contact-img .phone, 
    .contact-img .email {
        width: 258px;
    }

    .contact-img i {
        font-size: 1.6rem;
    }

    .contact-img .col-sm-10 {
        margin-bottom: 2.3rem;
    }

    .contact-img .contact-title {
        font-size: 2rem;
    }

    .contact-img .contact-text {
        font-size: 1.2rem;
    }

    #contact form .form-title {
        font-size: 2.35rem;
        margin-bottom: 2.2rem;
    }

    #contact form input::placeholder, 
    #contact form input, 
    #contact form textarea, 
    #contact form textarea::placeholder {
        font-size: 1.25rem;
    }

    #contact form input, 
    #contact form textarea {
        width: 228px;
    }
}


@media (max-width: 317.9px){
    .about i {
        width: 45%;
    }

    .blog i.bi-diamond {
        width: 35%;
    }

    .hobby.blog i.bi-diamond::before {
        left: 44%;
    }
}