* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root{
    --black: #000000;
    --space: #333333;
    --vintage: #e6a484;
}

.custom-container{
    padding: 0rem 10rem;
}


/* Navbar */

#navigation{
    padding-top: 2rem;
}

#navigation .row{
    justify-content: center;
}

.social-links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-links:first-child{
    justify-content: start;
}

.social-links:last-child{
    justify-content: end;
}

.nav-social-media a{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--space);
    margin: 1rem .5rem;
    transition: .2s ease-in;
}

.nav-social-media a:hover{
    color: var(--vintage);
}

#navigation button{
    font-size: 3.5rem;
    border: none;
    color: var(--black);
    opacity: 1;
    transition: .3s ease-in-out;
    background-color: transparent;
}

#navigation button .bi-x{
    font-size: 5rem;
}

#navigation button:focus{
    box-shadow: none;
}

#navigation button:hover{
    opacity: 1;
    color: var(--vintage) !important;
}

.navbar-brand{
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: .15rem;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand img{
    width: 350px;
    height: auto;
}

a.navbar-brand{
    width: auto;
}

.navbar-expand-lg .offcanvas{
    border-top: 1px solid var(--vintage) !important;
    border-bottom: 1px solid var(--vintage) !important;
    transition: transform 0.5s ease-in-out;
}

.offcanvas{
    flex-wrap: wrap;
    align-content: center;
}

.offcanvas-header{
    padding: 1.5rem 2.7rem;
}

.offcanvas-title{
    font-size: 3rem;
}

.offcanvas-title:hover{
    cursor: pointer;
}

.offcanvas .navbar-nav .nav-item:hover a{
    color: var(--vintage);
    transition: .3s ease-in-out;
}

.offcanvas .navbar-nav .nav-item a{
    color: var(--black);
    padding: 2.2rem 2rem !important;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400 !important;
    letter-spacing: .1rem;
    font-family: 'Inter', sans-serif !important;
}



@media (max-width:991.9px) {
    #navigation {
        padding-top: 1rem;
    }

    .social-links{
        display: none;
    }

    .navbar-brand img {
        width: 300px;
    }

    .offcanvas{
        flex-wrap: nowrap;
        align-content: stretch;
    }

    .offcanvas .navbar-nav .nav-item a{
        width: 100%;
        padding: 1.7rem 2rem !important;
    }
}


@media (max-width: 767.9px) {
    .custom-container{
        padding: 0rem 7rem;
    }

    #navigation {
        padding-top: .8rem;
    }

    .navbar-brand img {
        width: 250px;
    }
}


@media (max-width:577.9px) {
    .custom-container{
        padding: 0rem 4rem;
    }

    .navbar-brand img {
        width: 200px;
    }

    .offcanvas{
        width: 375px !important;
    }
}


@media (max-width:437.9px) {
    .custom-container{
        padding: 0rem 3rem;
    }

    .offcanvas{
        width: 340px !important;
    }

    .navbar-brand img {
        width: 180px;
    }

    #navigation button {
        font-size: 3.3rem;
    }
}


@media (max-width:378.9px) {
    .custom-container{
        padding: 0rem 2rem;
    }

    #navigation {
        padding-top: .5rem;
    }
    
    .navbar-brand {
        font-size: 3.5rem;
    }
    
    .navbar-brand img {
        width: 165px;
    }

    .offcanvas{
        width: 290px !important;
    }

    .offcanvas-title {
        font-size: 2.5rem;
    }

    #navigation button {
        font-size: 3.1rem;
    }

    #navigation button .bi-x {
        font-size: 4.4rem;
    }
}